@use "../global/bootstrap.scss" as *;


.card-pagination {
  display: grid;

  @media (min-width: $tablet-width) {
    margin-bottom: 118px;
    margin-left: auto;
    height: 40px;
    width: 395px;
    grid-template-columns: 91px auto 104px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 45px;
    grid-template-columns: 40px 160px 40px;
    column-gap: 20px;
    justify-content: center;
  }
}

.card-pagination .button {
  width: 100%;
  min-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-purple;
  background-color: var(--color-base-white);
  border-radius: 4px;
  position: relative;

  &:visited {
    color: $color-base-purple;
  }

  &:hover,
  &:focus {
    color: $color-base-purple;
    background-color: $color-base-purple-light;
  }

  &:active {
    color: $color-base-black;
    background-color: $color-base-purple-light;
  }

  @media (max-width: $mobile-width-only) {
    span {
      display: none;
    }
  }

  @include focus-state;
}

.card-pagination__button-image {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card-pagination__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  column-gap: 20px;
  justify-content: center;
}

.card-pagination__link {
  @include link-state;
  @include focus-state;
}

.card-pagination .card-pagination__link--current {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: transparent;

  &:visited {
    color: #000000;
  }
}
