@use "../global/bootstrap.scss" as *;

.features {
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }
}

.features__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.features__description {
  padding-top: 5px;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding-top: 4px;
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.features-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 339px 339px;
    row-gap: 50px;
    column-gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 118px;
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
  }
}

.features-list__item {
  margin-bottom: 32px;
  padding-top: 66px;
  background-position: 50% 0;

  &--speed {
    background-image: url("../../img/features/icon-speed.svg");
    background-repeat: no-repeat;
  }

  &--comfort {
    background-image: url("../../img/features/icon-comfort.svg");
    background-repeat: no-repeat;
  }

  &--vigor {
    background-image: url("../../img/features/icon-vigor.svg");
    background-repeat: no-repeat;
  }

  &--ecology {
    background-image: url("../../img/features/icon-ecology.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
    background-position: 0 0;


    &--speed {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &--ecology {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      background-position-y: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 66px;
    background-position: 50% 0;
  }
}

.features-list__title {
  padding-bottom: 4px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 72px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 10px;
    text-align: center;
  }
}

.features-list__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 72px;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
  }
}
