@use "../global/bootstrap.scss" as *;


/*
@media (min-width: $desktop-width) {
}
@media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
}
@media (max-width: $mobile-width-only) {
}
*/

.map {
  position: relative;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: #f8f8f8;
}

.map__image {
  z-index: -2;

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 540px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    width: 768px;
    height: 480px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 420px;
  }
}

.map__script {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: $desktop-width) {
    height: 540px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width-only) {
    height: 480px;
  }

  @media (max-width: $mobile-width-only) {
    height: 420px;
  }
}
