@use "./variables.scss";


@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Focus State
@mixin focus-state {
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid variables.$color-base-purple;
    outline-offset: -2px;
    border-radius: 2px;
    z-index: 50;
  }
}


// Link State
@mixin link-state {
  // outline: none;
  cursor: pointer;

  &:visited {
    color: variables.$color-base-black;
  }

  &:hover,
  &:focus {
    color: variables.$color-base-purple;
  }

  &:active {
    color: variables.$color-base-purple;
    background-color: variables.$color-base-purple-light;
  }
}
