/*  Colors */
/* ----------------------------------- */


/*  Custom Variables */
/* Colors */
:root {
  --color-base-white: #ffffff;
  --color-base-gray: #444444;
  --color-base-black: #000000;
  --color-base-purple: #7859cf;
  --color-base-green: #63d1bb;
}


/*  Default */
/* ----------------------------------- */
$color-base-white: #ffffff;
$color-base-gray: #444444;
$color-base-black: #000000;
$color-base-purple: #7859cf;
$color-base-green: #63d1bb;


/* Project palette */
/* для нейминга цветов используется https://www.htmlcsscolor.com/ */
/* ----------------------------------- */
$color-alt-opacity: rgba(120, 89, 207, 0.25);
$color-alt-primary-lighter: #9070ec;
$color-alt-primary-darker: #593cac;
$color-alt-light-grey: #e2e2e2;


/* Typography */
/* ----------------------------------- */
$ff-montserrat: "Montserrat", "Arial", sans-serif;


/* Viewports */
/* ----------------------------------- */
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-only: 1439px;
$desktop-width-max: 1440px;
